@font-face {
    font-family: 'MyCustomFont';
    src: url('./A-Iranian-Sans/A-Iranian-Sans/irsans.ttf') format('truetype'),
             url('./A-Iranian-Sans/A-Iranian-Sans/irsansb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
